.expenses-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .expense-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .expense-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
  }

  .expense-description {
    font-size: 1rem;
    font-weight: 500;
  }

  .expense-amount {
    font-size: 0.9rem;
    color: #333;
    margin-left: auto;
  }

  .delete-expense-button {
    background: none;
    border: none;
    color: #e74c3c;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
  }


  .expense-item {
    padding: 10px 40px 10px 20px;
  }

  .delete-expense-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  @media (max-width: 768px) {
    .expenses-list {
      width: 100%;
    }

    .expense-item {
      flex-direction: column;
      align-items: flex-start;
    }

    .expense-amount,
    .delete-expense-button {
      align-self: flex-end;
    }
  }
