.expense-detail-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .transactions-awaiting-approval {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .transactions-awaiting-approval h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .transaction {
    margin-bottom: 20px;
  }

  .user-transactions {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .user-transactions h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .expense-summary {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .expense-summary div {
    margin-bottom: 10px;
  }

  .add-transaction-button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }

  .add-transaction-button:hover {
    background-color: #4cae4c;
  }

  .expense-detail-container > div {
    text-align: center;
    width: 100%;
  }
