* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: #f8f8f8;
}

.expense-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.expense-detail-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card h3 {
  background-color: #e7e7e7;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 18px;
}

.transaction, .expense-summary div {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
  text-align: left;
}

.add-transaction-button {
  background-color: #ff652f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.add-transaction-button:hover {
  background-color: #e5612f;
}

.transactions-awaiting-approval, .user-transactions, .expense-summary {
  background-color: #e7e7e7;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .expense-detail-header,
  .expense-detail-container {
    width: 95%;
    margin: 20px auto;
  }
}

.reject-transaction-button {
  padding: 5px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.reject-transaction-button:hover {
  background-color: #c9302c;
}


.delete-expense-button {
  background-color: #d9534f;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
}

.delete-expense-button:hover {
  background-color: #c9302c;
}

